body {

    text-align: center;    
}

h3 {
    display: inline;
}

button {
    margin-top: 500px;
    font-size: 18px;
}

#container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid black;
    width: 462px;
    margin-top: 10px;
}

.box {
    float: left;
    border: 2px solid black;
    width: 150px;
    height: 150px;
    font-size: 100px;
    line-height: 150px;
}